.form-container {
  margin-bottom: 20px;
  max-width: 80%; 
  margin-left: auto; 
  margin-right: auto; 
}

.form-container h2,
.form-container h3 {
  overflow-wrap: break-word;
  white-space: pre-wrap; 
  font-size: 1.5em; 
}

.no-select {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}
