.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
  }

.form-container {
    max-width: 450px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form-group-time {
    display: flex;
    align-items: center;
    margin-bottom: 13px;

}

.form-time-div {
    color: #4a525a;
    font-size: 19px;
    width: 60%;
    display: flex;
    align-items: center;
    margin-bottom: 13px;

}

.form-group-time {
    display: flex;
    align-items: center;
}

.form-file-div {
    color: #4a525a;
    font-size: 19px;
    width: 60%;
    display: flex;
    align-items: center;
    
}

