.students-container {
  margin-left: 50px;
}

.student-container {
  background-color: #ffffff;
  border: 1px solid #474747;
  margin-bottom: 20px;
  border-radius: 5px;
  min-width: 400px;
  padding: 15px;
}

.answer-container {
  margin-bottom: 20px;
}

.answer-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


.check-answers-hub-link {
  align-self: flex-start;
}

.check-container {
  max-width: 1200px;
  box-shadow: none;
  margin: 0 auto;
  width: 80%;
}

.check {
  width: 850px;
}


.sort-list {
  flex-direction: column;
  flex-shrink: 0;
  display: flex;
}

.sort-button {
  display: block;
  margin: 5px 0;
}

.del-button {
  margin-top: 10px;
}


.search-input {
  border: 1px solid #474747;
  margin-bottom: 5px;
  width: 200px;
}


.description {
  overflow-wrap: break-word;
  white-space: normal;
  max-height: 200px;
  font-size: 1.2em;
  overflow: auto;
  padding: 10px;
}


.divider {
  border: 1px solid #c0bfbf;
  margin: 15px 0;
}


@media (max-width: 600px) {
  h4 {
    font-size: 1.5rem;
  }

  .hub-link {
    font-size: 1rem;
  }

  .form-control {
    font-size: 1rem;
  }

  .description {
    font-size: 1.2em;
  }
}