.navbar-home {
  background-color: #fff;
  padding: 0.5rem 0;
}

.navbar-home .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-home .nav-link {
  color: #fff;
  background-color: #000000;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.navbar-home .nav-link:hover {
  background-color: #2840ad;
}

.navbar-home .nav-link.home {
  font-size: 1.25rem;
  font-weight: bold;
}

.navbar-home .navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-home .navbar-nav .nav-item {
  margin-left: 1rem;
}

.error-message {
  color: rgb(212, 20, 20);
  text-align: center;
  margin-bottom: 10px;
}

.success-message {
  color: rgb(15, 199, 128);
  text-align: center;
  margin-bottom: 10px;
}

