.navbar-home .navbar-nav .nav-item {
  margin-left: 1rem;
}

.navbar-home .container-fluid {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbar-home .nav-link {
  background-color: #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #fff;
}

.navbar-home .nav-link:hover {
  background-color: #2840ad;
}

.navbar-home .nav-link.home {
  font-size: 1.25rem;
  font-weight: bold;
}

.navbar-home .navbar-nav {
  list-style-type: none;
  display: flex;
}

.navbar-home {
  background-color: #fff;
  padding: 0.5rem 0;
}

.nav-container {
  max-width: 600px;
  padding: 15px;
  margin: auto;
}
