.container {
  grid-template-columns: 30% 70%;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  width: 90%;
}

.main-content {
  margin-left: 20px;
}

.form-signin .checkbox {
  font-weight: 400;
}


.form-login-and-register .form-control:focus {
  z-index: 2;
}

.form-login-and-register .form-control {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  height: auto;
}

.form-login-and-register {
  max-width: 600px;
  padding: 15px;
  margin: auto;
}


.form-tasks-and-answers  {
  max-width: 600px;
  padding: 15px;
  margin: auto;
}

.form-check-answers  {
  max-width: 750px;
  display: flex;
}

.Sidebar {
  padding-left: 20px;
  width: 20%;
}

.profile {
  max-width: 600px;
  padding: 15px;
  margin: auto;
}
